<%= form_for([@todo_list, @todo_list.todo_items.find(params[:id])]) do |f| %>
    <div class="field">
      <%= f.label :task_title %><br>
      <%= f.text_field :task_title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description, size: "40x12" %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_select :due_date %>
    </div>
    <div class="field">
      <%= f.check_box :done %>
      <%= f.label "Task Completed" %><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
