<div class="todoList_title">
  <%= content_tag(:span, "#{@todo_list.list_due_date}", class: "td_due_date") %><%= content_tag(:span, "#{@todo_list.list_name}", class: "todo_item_name") %>
  <%= link_to 'Add Todo Item', new_todo_list_todo_item_path(@todo_list) %>
</div>


<div id="todo_items">
  <%= render @todo_list.todo_items %>
  <br />
  <%= link_to 'Add Todo Item', new_todo_list_todo_item_path(@todo_list) %>
</div>

<p/>

<%= link_to 'Edit Todo List', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back to Todo Lists', todo_lists_path %>